<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
       default-autowire="byType" default-lazy-init="true">

    <sec:http access-decision-manager-ref="accessDecisionManager">

		<sec:intercept-url pattern="/admin/data/org/getAppPersonOrgs*" access="AUTH_REGISTERED" />
         
        <sec:form-login login-page="/login.jsp" default-target-url="/index.jsp" authentication-failure-url="/login.jsp?error=true"/>
        <sec:logout logout-success-url="/logout.jsp"/>
        
    </sec:http>

    <sec:authentication-provider user-service-ref="userService">
        <!-- 可设置hash使用sha1或md5散列密码后再存入数据库 -->
        <sec:password-encoder hash="plaintext"/>
    </sec:authentication-provider>

    <!--bean id="userService" class="com.metinform.app.service.security.UserDetailServiceImpl">
    </bean-->

    <sec:authentication-manager alias="authenticationManager"/>

    <!-- 记录登出日志 -->
    <bean id="springSecurityLogOutLogFilter"
                class="com.metinform.app.security.springsecurity.SpringSecurityLogOutLogFilter">
        <sec:custom-filter before="LOGOUT_FILTER"/>
    </bean>

    <!-- 在上下文中记录IP地址 -->
    <bean id="springSecurityLogFilter"
                class="com.metinform.modules.security.springsecurity.SpringSecurityLogFilter">
        <sec:custom-filter before="CAS_PROCESSING_FILTER"/>
    </bean>
    
    <!-- spring security pre auth uchome配置 -->
    <!--<bean id="siteminderFilter" class="com.metinform.modules.security.springsecurity.SpringSecurityPreAuthenticatedProcessingFilter">
    	<sec:custom-filter position="PRE_AUTH_FILTER"/>
    	<property name="principalRequestHeader" value="SM_USER"></property>
    	<property name="authenticationManager" ref="authenticationManager"></property>
    </bean>
    <bean id="preauthAuthProvider" class="com.metinform.modules.security.springsecurity.SpringSecurityPreAuthenticatedAuthenticationProvider">
    	<sec:custom-authentication-provider/>
    	<property name="preAuthenticatedUserDetailsService">
    		<bean id="userDetailServiceWrapper" class="com.metinform.app.service.security.UserDetailsByNameServiceWrapper">
    			<property name="userDetailsService" ref="userService"></property>
    		</bean>
    	</property>
    </bean>-->

    <bean id="siteminderFilter" class="com.metinform.modules.security.springsecurity.CookieSSOPreAuthenticatedProcessingFilter">
        <sec:custom-filter position="PRE_AUTH_FILTER"/>
        <property name="authenticationManager" ref="authenticationManager"></property>
    </bean>

    <bean id="preauthAuthProvider" class="org.springframework.security.providers.preauth.PreAuthenticatedAuthenticationProvider">
        <sec:custom-authentication-provider/>
        <property name="preAuthenticatedUserDetailsService">
            <bean id="userDetailServiceWrapper" class="com.metinform.app.service.security.UserDetailsByNameServiceWrapper">
                <property name="userDetailsService" ref="userService"></property>
            </bean>
        </property>
    </bean>

    <!-- 将授权的默认前缀由ROLE_改为AUTH_ -->
    <!-- -->
    <bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <bean class="org.springframework.security.vote.RoleVoter">
                    <property name="rolePrefix" value="AUTH_"/>
                </bean>
                <bean class="org.springframework.security.vote.AuthenticatedVoter"/>
            </list>
        </property>
    </bean>

    <!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="org/springframework/security/messages"/>
    </bean>

</beans>